<div class='login-page'>

  <form class='card card-title'>
    Вход
    <div class='inputs-container'>
      {{{login}}}
      {{{password}}}
    </div>

    <div class='buttons-container'>
      {{{button}}}
      {{{ref}}}</div>
  </form>
</div>
