$info_input-bckGround-color: white;
$info_input-border: 1px solid lightgrey;

.info-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: $info_input-border;
  padding-bottom: 10px;
  position: static;
  z-index: 100;

  .info-input {
    display: block;
    width: 100%;
    border: none;
    max-width: 400px;
    background-color: inherit;
    text-align: right;
  }
}
