<aside class='navigation'>
  <div class='wrapper-ref'><button
      class='btn-chat'
    >+</button>{{{popupChat}}}{{{ref}}}</div>
  {{{popup}}}

  <input class='search' placeholder='Поиск' />
  <div class='dialogs'>
    {{#each chats}}
      {{{this}}}
    {{/each}}

  </div>
</aside>
