<div class='signup-page'>
  <form class='card'>
    <div class='card-title'>Регистрация</div>

    {{#each inputs}}
      {{{this}}}
    {{/each}}
    <div class='buttons-container_reg'>
      {{{button}}}
      {{{ref}}}
    </div>
  </form>

</div>
